.toggleSwitch {
  display: none;
}
.toggleSwitch + label {
  display: inline-block;
  position: relative;
  font-weight: inherit;
  cursor: pointer;
  -webkit-touch-callout: none;
  margin-right: 0;
  margin-bottom: 0;
  padding-left: 60px;
  line-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.toggleSwitch + label:before {
  position: absolute;
  display: inline-block;
  left: 0;
  content: '';
  border-style: solid;
  width: 50px;
  height: 30px;
  border-width: 0;
  border-color: transparent;
  background-color: #5e5d5d;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  -ms-box-shadow: 0;
  -o-box-shadow: 0;
  box-shadow: 0;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  -o-transition: all 100ms ease;
  transition: all 100ms ease;
}
.toggleSwitch + label:after {
  position: absolute;
  content: '';
  width: 26px;
  height: 26px;
  top: 2px;
  left: 2px;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 2px 5px 0 rgba(51, 51, 51, 0.25);
  -moz-box-shadow: 0 2px 5px 0 rgba(51, 51, 51, 0.25);
  -ms-box-shadow: 0 2px 5px 0 rgba(51, 51, 51, 0.25);
  -o-box-shadow: 0 2px 5px 0 rgba(51, 51, 51, 0.25);
  box-shadow: 0 2px 5px 0 rgba(51, 51, 51, 0.25);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-animation: buttonanimationtouncheck 500ms;
  /* Chrome, Safari, Opera */
  animation: buttonanimationtouncheck 500ms;
}
.toggleSwitch:checked + label:before {
  background-color: #e36566;
  -webkit-transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  -o-transition: all 100ms ease;
  transition: all 100ms ease;
}
.toggleSwitch:checked + label:after {
  left: 22px;
  -webkit-animation: buttonanimationtocheck 500ms;
  /* Chrome, Safari, Opera */
  animation: buttonanimationtocheck 500ms;
}
.toggleSwitch:disabled + label {
  cursor: no-drop;
}
.toggleSwitch:disabled + label:before {
  opacity: 0.25;
}
@-webkit-keyframes buttonanimationtocheck {
  0% {
    width: 26px;
    margin-left: -20px;
  }
  33% {
    width: 36px;
    margin-left: -20px;
  }
  66% {
    width: 36px;
    margin-left: -10px;
  }
  100% {
    width: 26px;
    margin-left: 0;
  }
}
@keyframes buttonanimationtocheck {
  0% {
    width: 26px;
    margin-left: -20px;
  }
  33% {
    width: 36px;
    margin-left: -20px;
  }
  66% {
    width: 36px;
    margin-left: -10px;
  }
  100% {
    width: 26px;
    margin-left: 0;
  }
}
@-webkit-keyframes buttonanimationtouncheck {
  0% {
    width: 26px;
    margin-left: 20px;
  }
  33% {
    width: 36px;
    margin-left: 10px;
  }
  66% {
    width: 36px;
    margin-left: 0;
  }
  100% {
    width: 26px;
  }
}
@keyframes buttonanimationtouncheck {
  0% {
    width: 26px;
    margin-left: 20px;
  }
  33% {
    width: 36px;
    margin-left: 10px;
  }
  66% {
    width: 36px;
    margin-left: 0;
  }
  100% {
    width: 26px;
  }
}
.preload .toggleSwitch + *,
.preload .toggleSwitch + *:before,
.preload .toggleSwitch + *:after {
  -webkit-transition: 0 !important;
  -moz-transition: 0 !important;
  -ms-transition: 0 !important;
  -o-transition: 0 !important;
  -webkit-animation: 0 !important;
  animation: 0 !important;
}
